:root{
  --count-columns: 2;
}

.about-us {
  display: grid;
  grid-template-columns: repeat(var(--count-columns), 1fr);
  column-gap: 20px;
  margin-top: 100px;


  @include on-desktop{
    --count-columns:12;

    column-gap: 24px;
    margin-top: 138px;

  }

  @include on-tablet{
    --count-columns: 6;

    column-gap: 24px;
    margin-top: 140px;

  }

  &__schedule {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 7 /-1;
    }
  }

  &__title{
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 24px;
    grid-column: auto;

    @include on-tablet {
      grid-column: 1 / 6 ;
    }

    @include on-desktop {
      grid-column: 1 / 6  ;
    }

  }

  &__work-time {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 12px 20px;

    // border: 1px solid red;

    @include on-desktop{
      grid-template-columns: 180px 2fr;
    }

    @include on-tablet {
      grid-template-columns: 150px 1fr;
    }

  }

  &__hours {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  &__days {
    margin: 0;
    color: $main-page-color;
    font-weight: normal;
  }

  &__art{
    display: block;
    margin-bottom: 48px;

    // border: 1px solid red;

    &:last-child{
      margin-bottom: 0;
    }

  }

}

.section{
  display: block;
  unicode-bidi: isolate;

}



.article:first-child{
 grid-column: 1 / 7;
}

