.footer{
  height: 100%;
  grid-column: 1/-1;
  background-image:url(../images/footerM.png);
  background-size: cover;
  background-position: center;
  outline: 3px solid orange;
  min-height: 180px;

  @include on-tablet{
    background-image:url(../images/footerT.png);
    min-height: 359px;

  }

  @include on-desktop{
    background-image:url(../images/footerD.png);
    min-height: 359px;


  }
  
}

