.header {
  box-sizing:border-box;
  height: 100vh;
  background-image: url(../images/bg-image-header.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_logo_text{
    height: 80px;
    width: 280px;
    background-image: url(../images/Title.png);
    margin: 200px 20px 290px;
  }

  &__bottom{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    @include constent-pading-inline
  }


}

