.header {
  background-image: url(../images/bg-image-header.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_logo_text{
    height: 80px;
    width: 280px;
    background-image: url(../images/Title.png);
    margin: 200px auto 290px;

    @include hover (transform, scale(1.05) );

  }

  &__bottom{
    padding-bottom: 40px;


  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing:border-box;
    height: 100vh;
    @include constent-pading-inline;

  }


}

