.menu{
  box-sizing:border-box;
  height: 100vh;
  background-color: #D12D35;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__The_Met_Fifth_Avenue{
 color: #FFF;
 text-decoration: none;
 display: flex;
 font-size: 16px;
 line-height: 27px;
 letter-spacing: 0;
}

.menu__phone_The_Met_Fifth_Avenue{
 color: #FFF;
 text-decoration: none;
 display: flex;
}

.menu__cloisters_schedule_contacts{
 color: #FFF;
 text-decoration: none;
 display: flex;
 font-size: 16px;
 line-height: 27px;
 letter-spacing: 0;
}

.menu__contacts-cloisters{
 color: #FFF;
 text-decoration: none;
 display: flex;
}
