.now-on-view{
  align-items: center;
  outline: 1px solid red;

  &__pictures{
    display: grid;
    row-gap: 48px;
    column-gap: 20px;
    grid-template-columns: 1fr;


    @include on-tablet{
     column-gap: 24px;


    }

    @include on-desktop{
     column-gap: 24px;
     max-width: 1020px;
     grid-template-columns: repeat(1, 1fr);

    }

  }


}




.now-on-view__title{
  background-color:yellow;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  margin-top: 100px;

  @include on-tablet{
  margin-top: 140px;
  font-size: 48px;
  }

  @include on-desktop{
  margin-top: 140px;
  font-size: 48px;
  }

  &:after{
    content: 'Explore exhibition gallery guides, videos, articles, and more.';
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: $main-page-color;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 48px;
  }

}





