.page{
font-family: Cinzel, serif;
color: $main-page-color;
font-size: 16px;
line-height: 27px;
scroll-behavior: smooth;
overflow-x: hidden;

  &__body {
    margin: 0;
    min-width: 320px;
    overflow-x: hidden;

    // outline:3px solid lime;
  }

  &__menu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-100%);
    pointer-events: none;

    &:target{
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.article{
  display: flex;
  flex-direction: column;
  width: 100%;
}

form{
  width: 100%;
  margin: 0;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.container{
  width: 100%;

 @include constent-pading-inline;
}


