img {
  display:block;
  width:100%;
  height:100%;
  object-fit: cover;

  // overflow-clip-margin: content-box;
  // overflow: clip;


}

.pictures{
  &__photos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;

    @include on-tablet{
      @include page-grid;
    }
    @include on-desktop{
      @include page-grid;
    }

    width: 100%;

  }

  &__link {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;

    &--big{
      object-fit: cover;
      object-position: top center;

      grid-column: span 3;


      @include on-tablet{
        grid-column: span 4;

      }

      @include on-desktop{
        grid-column: span 8;

      }

    }

    &--small{
      grid-column: span 3;
      object-fit: cover;
      object-position: top center;

      @include on-tablet{
        grid-column: span 2;
      }

      @include on-desktop{
        grid-column: span 4;

      }
    }

    &--second-line{
      height: 100%;
      width: 100%;
      column-gap: 8px;
      grid-column: span 2;

      @include on-tablet {
        grid-column: span 3;
        &:last-child{
          display: none;
        }

      }

      @include on-desktop{
        grid-column: span 4;
        &:last-child{
          display: block;
        }

      }

    }

    &--3-small{
      grid-column: span 3;
      column-gap: 20px;

      object-fit: cover;
      object-position: top center;


      @include on-tablet{
        //@include page-grid;
        grid-column: span 2;


      }

      @include on-desktop{
       // @include page-grid;
        grid-column: span 4;

      }
    }

    &--3-big{
      height: 100%;
      width: 100%;
      //display: block;
      object-fit:cover;
      object-position: right center;
      grid-column: span 3;


      @include on-tablet{
        //@include page-grid;
        grid-column: span 4;

      }

      @include on-desktop{
        //@include page-grid;
        grid-column: span 8;

      }

    }


  }

  &__photo{
      //@include page-grid;

   width: 100%;
   //margin-bottom: 24px;

    &--left{
      height: 100%;
      width: 100%;
      object-position: left center;
      grid-column: span 3;


      @include on-tablet{
        grid-column: span 4;

      }

      @include on-desktop{
        grid-column: span 8;

      }



    }

    &--right{
      height: 100%;
      width: 100%;
      grid-column: span 3;
      object-fit: cover;
      object-position: top center;

      @include on-tablet{
        grid-column: span 2;


      }

      @include on-desktop{
        grid-column: span 4;

      }

    }

    &--second-line{
      //display: block;
      min-width: 100%;
      //margin-bottom: 24px;
      column-gap: 8px;

      @include on-tablet {
        @include page-grid;
        grid-column: span 3;
        column-gap: 24px;
        &:last-child{
          //display: block;
          //display: none;
        }


      }

      @include on-desktop{
        @include page-grid;
        grid-column: span 4;
        column-gap: 24px;
        //&:last-child{
        //  display: block;
        //}
      }

    }

    &--third-line-big{
      overflow: hidden;
      //display: block;
      object-fit:cover;
      object-position: right center;

    }
  }

  &__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing:0;
    color: $aside-red-color;
    margin-top: 24px;
    text-align: left;


  }

  &__data{
    font-weight:400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color:$main-page-color;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 48px;
    text-align:left;

  }

}






