.section-title{
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -1.5px;
  padding-bottom: 20px;

  // margin-bottom: 40px;
  text-align: center;

  @include on-tablet{
    font-size: 48px;

    // margin-bottom: 48px;
  }

  @include on-desktop{
    font-size: 48px;

    // margin-bottom: 48px;
  }

  &--align--left{
    // outline: 2px dashed orange;

    grid-column: 1/-1;

    // margin-bottom: 32px;
    text-align:left;

    // padding-left: 5px;


      @include on-desktop{
       grid-column: 1/6;
       white-space: nowrap;
       margin: 0;

       // padding-left:5px;
       text-align: left;
      }

     @include on-tablet {
      grid-column: 1/4;
       text-align: left;

       // padding-left: 72px;
      }

    &::before {
      content: "plan your visit";
      color: $aside-red-color;
      font-style: 700;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0;
      display: block;
      margin-bottom: 0;
    }
  }
}



