.tooltip{
  position: relative;
  text-align: right;
  display: block;
  z-index: 2;

  &__block {
    z-index: -1;
    position: absolute;
    top: -80%;

    // right: 1;
    // transform: translateX(-650%);
    opacity:0;
    pointer-events:none;
    left: 0;
    transform: translateX(-150%);
    transition: opacity .3s, transform .3s;

  }
  
  &:hover .tooltip__block {
      opacity: 1;
      transform: translateX(-100%);
      z-index: 999;
      pointer-events: auto;
    }



  @include on-tablet {
    &:hover .tooltip__block {
      opacity: 1;
      transform: translateX(-110%);
      z-index: 999;
      pointer-events: auto;
    }
  }


  &__text {
    font-size: 16px;
    font-weight: 700;
    text-wrap: nowrap;
    color: $aside-menu-color;
    text-transform: uppercase;
    letter-spacing: 0;
    vertical-align: middle;
    margin: 0;
    padding: 0;

  }

  &__link {
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
    color: $aside-menu-color;
    text-decoration: none;
    letter-spacing: 0;
    vertical-align: middle;
    margin-bottom: 18px;

    text-wrap: nowrap;
  }
}


