body{
  margin: 0;
  overflow-x: hidden;
  font-family: Cinzel,serif;

}

* {
  box-sizing: border-box;
  padding: 0;
}

.placeholder{
  font-family: Cinzel,serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
}

